html, body {
  height: 100%;
  width: 100%;
}

.App {
  font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif;
  background-image: radial-gradient(circle, rgba(45,45,42,1) 0%, rgba(53,56,49,1) 73%);
  height: 100%;
}